<%@ page language="java" contentType="text/css; charset=UTF-8" pageEncoding="UTF-8"%>
@charset "UTF-8";
/**
*	HTML RESET
* ********************************************** */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
sub, sup{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

dt {
	font-weight:bold;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
*	@Font
* ********************************************* */
/* default font size 13px */
body, input, textarea, keygen, select, button, isindex {
  font-family: '«Ò«é«®«ÎÊÇ«´ Pro W3', 'Hiragino Kaku Gothic Pro W3', '«á«¤«ê«ª',Meiryo, '£Í£Ó £Ð«´«·«Ã«¯', Arial, verdana, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  /* for IE */
  *font-size: small;
  /* for IE in quirks mode */
  *font: x-small;
}
input, label {vertical-align:middle;}

html, body, #page {
  width: 100%;
  height: 100%;
}

/* min-width: 1024px */
body {
  min-width: 1024px;
  width: auto !important;
  width: 1024px;
  position: relative;
}

/* accessibility guide tag */
.guide {
  display: none;
}
.guide.support {
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  padding-top: 1px;
  font-size: 1px;
  overflow: hidden;
}

body {
  background-color: #444444;
  background-image: url(../images/body_bg.gif);
}

/**
*	input
* ********************************* */
input[type='submit'], input[type='button'], input[type='cancel'] {
  cursor: pointer;
}

/**
*	modal
* ********************************* */
#modal {
  position: absolute;
  z-index: 899;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
}
#modal #nowLoading {
  position: absolute;
  top: 50%;
  left: 50%;
}

.hide {
  display: none;
}

.show {
  display: block;
}
.align_l {text-align:left !important;}
.align_c {text-align:center !important;}
.align_r {text-align:right !important;}
.mgt10 {margin-top:10px !important;}
.mgt15 {margin-top:15px !important;}
.mgr30 {margin-right:30px !important;}
.mgl5 {margin-left:5px !important;}
.mgl10 {margin-left:10px !important;}
